In [50]:
import pandas as pd
import pickle
import numpy as np
import json

In [3]:
with open("models/nn_predictor.pkl", "rb") as file:
    nnetwork = pickle.load(file)

with open("models/svm_predictor.pkl", "rb") as file:
    svector = pickle.load(file)

with open("models/xgb_predictor.pkl", "rb") as file:
    xgclassifier = pickle.load(file)

2024-10-19 07:25:10.503169: E external/local_xla/xla/stream_executor/cuda/cuda_fft.cc:485] Unable to register cuFFT factory: Attempting to register factory for plugin cuFFT when one has already been registered
2024-10-19 07:25:10.516668: E external/local_xla/xla/stream_executor/cuda/cuda_dnn.cc:8454] Unable to register cuDNN factory: Attempting to register factory for plugin cuDNN when one has already been registered
2024-10-19 07:25:10.520453: E external/local_xla/xla/stream_executor/cuda/cuda_blas.cc:1452] Unable to register cuBLAS factory: Attempting to register factory for plugin cuBLAS when one has already been registered
2024-10-19 07:25:10.530830: I tensorflow/core/platform/cpu_feature_guard.cc:210] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2024-10-19 07:25:11.304818: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT
WARNING: All log messages before absl::InitializeLog() is called are written to STDERR
I0000 00:00:1729319111.991958  301823 cuda_executor.cc:1015] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero. See more at https://github.com/torvalds/linux/blob/v6.0/Documentation/ABI/testing/sysfs-bus-pci#L344-L355
I0000 00:00:1729319112.032169  301823 cuda_executor.cc:1015] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero. See more at https://github.com/torvalds/linux/blob/v6.0/Documentation/ABI/testing/sysfs-bus-pci#L344-L355
I0000 00:00:1729319112.036688  301823 cuda_executor.cc:1015] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero. See more at https://github.com/torvalds/linux/blob/v6.0/Documentation/ABI/testing/sysfs-bus-pci#L344-L355
I0000 00:00:1729319112.041701  301823 cuda_executor.cc:1015] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero. See more at https://github.com/torvalds/linux/blob/v6.0/Documentation/ABI/testing/sysfs-bus-pci#L344-L355
I0000 00:00:1729319112.046311  301823 cuda_executor.cc:1015] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero. See more at https://github.com/torvalds/linux/blob/v6.0/Documentation/ABI/testing/sysfs-bus-pci#L344-L355
I0000 00:00:1729319112.050494  301823 cuda_executor.cc:1015] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero. See more at https://github.com/torvalds/linux/blob/v6.0/Documentation/ABI/testing/sysfs-bus-pci#L344-L355
I0000 00:00:1729319112.216917  301823 cuda_executor.cc:1015] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero. See more at https://github.com/torvalds/linux/blob/v6.0/Documentation/ABI/testing/sysfs-bus-pci#L344-L355
I0000 00:00:1729319112.218523  301823 cuda_executor.cc:1015] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero. See more at https://github.com/torvalds/linux/blob/v6.0/Documentation/ABI/testing/sysfs-bus-pci#L344-L355
I0000 00:00:1729319112.220003  301823 cuda_executor.cc:1015] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero. See more at https://github.com/torvalds/linux/blob/v6.0/Documentation/ABI/testing/sysfs-bus-pci#L344-L355
2024-10-19 07:25:12.221326: I tensorflow/core/common_runtime/gpu/gpu_device.cc:2021] Created device /job:localhost/replica:0/task:0/device:GPU:0 with 728 MB memory:  -> device: 0, name: NVIDIA GeForce GTX 1660 Ti, pci bus id: 0000:01:00.0, compute capability: 7.5
/home/d3ju/.conda/envs/devspace/lib/python3.12/site-packages/sklearn/base.py:376: InconsistentVersionWarning: Trying to unpickle estimator SVC from version 1.5.2 when using version 1.5.1. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/model_persistence.html#security-maintainability-limitations
  warnings.warn(
/home/d3ju/.conda/envs/devspace/lib/python3.12/site-packages/sklearn/base.py:376: InconsistentVersionWarning: Trying to unpickle estimator GridSearchCV from version 1.5.2 when using version 1.5.1. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/model_persistence.html#security-maintainability-limitations
  warnings.warn(

In [4]:
df = pd.read_csv("data/model-ready-data.csv", index_col=0)
df.head()

,home_team,away_team,home_position,away_position,home_team_avg_goals,away_team_avg_goals,home_team_avg_conceded,away_team_avg_conceded,Over2.5
0,5,14,19,1,0.0,0.0,0.0,0.0,1
1,16,1,7,4,0.0,0.0,0.0,0.0,1
2,2,21,12,9,0.0,0.0,0.0,0.0,0
3,0,17,2,17,0.0,0.0,0.0,0.0,1
4,8,9,15,13,0.0,0.0,0.0,0.0,0

In [5]:
team_map = {'Arsenal': 0, 'Aston Villa': 1, 'Bournemouth': 2, 'Brentford': 3, 'Brighton': 4, 'Burnley': 5, 'Chelsea': 6, 'Crystal Palace': 7, 'Everton': 8, 'Fulham': 9, 'Ipswich': 10, 'Leicester': 11, 'Liverpool': 12, 'Luton': 13, 'Manchester City': 14, 'Manchester Utd': 15, 'Newcastle': 16, 'Nottingham': 17, 'Sheffield Utd': 18, 'Southampton': 19, 'Tottenham': 20, 'West Ham': 21, 'Wolves': 22}

In [6]:
team_map

{'Arsenal': 0,
 'Aston Villa': 1,
 'Bournemouth': 2,
 'Brentford': 3,
 'Brighton': 4,
 'Burnley': 5,
 'Chelsea': 6,
 'Crystal Palace': 7,
 'Everton': 8,
 'Fulham': 9,
 'Ipswich': 10,
 'Leicester': 11,
 'Liverpool': 12,
 'Luton': 13,
 'Manchester City': 14,
 'Manchester Utd': 15,
 'Newcastle': 16,
 'Nottingham': 17,
 'Sheffield Utd': 18,
 'Southampton': 19,
 'Tottenham': 20,
 'West Ham': 21,
 'Wolves': 22}

In [7]:
df.head(2)

,home_team,away_team,home_position,away_position,home_team_avg_goals,away_team_avg_goals,home_team_avg_conceded,away_team_avg_conceded,Over2.5
0,5,14,19,1,0.0,0.0,0.0,0.0,1
1,16,1,7,4,0.0,0.0,0.0,0.0,1

In [48]:
fixtures = {
    "totwhu": [20, 21, 9, 12, 1.8, 1.4, 1.4, 1.8],
    "fulast": [9, 1, 8, 5, 1.6, 2.0, 1.2, 1.2],
    "ipseve": [10, 8, 17, 16, 1.0, 1.4, 1.6, 1.6],
    "mnubre": [15, 3, 14, 11, 0.6, 2.2, 1.2, 2.0],
    "newbri": [16, 4, 7, 6, 1.2, 1.6, 1.2, 1.8],
    "soulei": [19, 11, 19, 15, 0.8, 1.4, 2.6, 1.8],
    "bouars": [2, 0, 13, 3, 1.2, 2.2, 1.6, 1.2],
    "wolmci": [22, 14, 20, 2, 1.4, 2.2, 2.6, 1.4],
    "livche": [12, 6, 1, 4, 1.8, 2.0, 0.4, 0.8],
    "notcry": [17, 7, 10, 18, 1.0, 1.0, 1.0, 1.2]
}

In [64]:
models = [nnetwork, svector, xgclassifier]
outcomes = ["under2.5", "over2.5"]

In [62]:
for i in range(len(models)):
    for match in fixtures:
        predictions[match] = {}
        if i == 0:
            model = models[i]
            data = (np.array(fixtures[match], "float64")).reshape(1, -1)
            pred = model.predict(data)[0][0]
            predictions[match][i] = round(pred, 2)
        else:
            model = models[i]
            pred = model.predict([fixtures[match]])[0]
            predictions[match][i] = (outcomes[0] if pred < 1 else outcomes[1])

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 21ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 22ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 20ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 24ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 23ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 19ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 18ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 18ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 19ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 24ms/step

In [68]:
predictions = {}

for i in range(len(models)):
    model = models[i]  # Get the current model
    
    for match in fixtures:
        if match not in predictions:
            predictions[match] = {}  # Initialize an empty dictionary for each match
        
        # Prepare the data
        data = np.array(fixtures[match], dtype="float64").reshape(1, -1)
        
        # Make prediction
        if i == 0:
            # Assuming that the first model returns a float, so we round the prediction
            pred = model.predict(data)[0][0]
            predictions[match][i] = str(round(pred, 2))
        else:
            # Assuming that other models return a class (1 or 0) indicating over/under 2.5 goals
            pred = model.predict(data)[0]
            predictions[match][i] = outcomes[0] if pred < 1 else outcomes[1]

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 32ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 30ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 24ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 21ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 20ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 20ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 20ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 21ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 21ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 22ms/step

In [69]:
predictions

{'totwhu': {0: '0.75', 1: 'over2.5', 2: 'over2.5'},
 'fulast': {0: '0.51', 1: 'over2.5', 2: 'over2.5'},
 'ipseve': {0: '0.42', 1: 'over2.5', 2: 'over2.5'},
 'mnubre': {0: '0.54', 1: 'over2.5', 2: 'over2.5'},
 'newbri': {0: '0.54', 1: 'over2.5', 2: 'over2.5'},
 'soulei': {0: '0.61', 1: 'over2.5', 2: 'over2.5'},
 'bouars': {0: '0.7', 1: 'over2.5', 2: 'over2.5'},
 'wolmci': {0: '0.82', 1: 'over2.5', 2: 'over2.5'},
 'livche': {0: '0.62', 1: 'over2.5', 2: 'over2.5'},
 'notcry': {0: '0.55', 1: 'over2.5', 2: 'over2.5'}}

In [70]:
with open("data/gw8-predictions.json", "w") as file:
    json.dump(predictions, file, indent=4)